.overlay{
  background-image: url(../assets/backgrounds/h_img.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 200px;
}

.overlay2{
  background-image: url(../assets/backgrounds/s_img.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  padding-left: 200px;
  padding-bottom: 200px;
}
